/* #region base */
@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FixelText';
  src: url('../fonts/FixelText-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
html,
body {
  font-family: 'FixelText', sans-serif;
  background-color: #fafafa;
  color: #111111;
  width: 100%;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1770px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
/* #endregion */

/* #region header */

/* #endregion */
/* #region hero */
.hero {
  padding: 0 20px;
  margin-top: 104px;
  margin-bottom: 128px;
}

.hero-container {
  position: relative;
  width: 1700px;
  height: 840px;
  background-color: #3f00ff;
  border-radius: 40px;
  display: block;
  color: #ffffff;
  padding: 213px 0 31px 58.5px;
  overflow: hidden;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: 928px;
  margin-bottom: 98px;
}

.hero-subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.hero-title {
  font-size: 90px;
  line-height: 110%;
  font-weight: 900;
  z-index: 3;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  width: 780px;
  margin-bottom: 40px;
}

.hero-btn {
  width: 310px;
  height: 65px;
  padding: 20px 64px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  z-index: 3;
  background: linear-gradient(90deg, #ffdf00 0%, #ffb800 100%);
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: #ffb300;
  transform: translateY(-2px);
}
.hero-image {
  position: absolute;
  top: 122px;
  left: 823px;
  width: 877px;
  height: 595px;
  z-index: 3;
}

.hero-dots {
  display: flex;
  gap: 17px;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.dot.active {
  background: #ffd00e;
  border: none;
}
.hero-scroll {
  position: absolute;
  bottom: 31px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.hero-scroll span {
  font-size: 14px;
  font-weight: 700;
}

.scroll-arrow {
  width: 18px;
  height: 28px;
  animation: bounce 1.5s infinite ease-in-out;
}

.hero-bg-svg {
  position: absolute;
  top: -130px;
  right: -95px;
  width: 1800px;
  height: auto;
  z-index: 0;
  pointer-events: none;
}
/* #endregion */

/* #region test */
.test-container {
  margin: 0 58px;
  position: relative;
}
.test-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.test-title {
  font-size: 90px;
  font-weight: 900;
  line-height: 110%;
}
.test-right-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}

/* #endregion */
